nav {
  display: inline;;
}
nav > div{
  border: 1px solid black;
  text-align: center;
}

nav #currentTasks {
  background-color: green;
}

input {
  border: none;
}

#newTask input {
  border: 0.5px solid darkgrey;
}
